@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.header{
    background-color: #FCEEF1;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
}
.btn{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-bottom: 30px;
    color: #FCEEF1;
    font-size: 20px;
    font-weight: 700;
}
.banner{
    padding-top: 15%;
    max-width: 400px;
    
}
.banner > h1,
.banner > p
{
  margin-bottom: 30px;
}
.banner h1{
    font-family: Lato;
    color: #272727;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}
.banner p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
}

.banner-img img{
    margin-top: 50px;
    height: 550px;
}

/* header ends */

/* pinkFlower starts */
.pink-flowers{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}
.pink-flowers .feature-demo h2{
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.feature-demo p{
    width: 530px;
    margin-top: 20px;
    font-weight: 400;
    font-family: Lato;
    font-size: 15px;    
}
.flowers{
    /* padding: 0 30px; */
    /* overflow: hidden; */
    display: flex;
    margin-top: 70px;
    
}
.flowers .flower1 img{
    width: 400px;
    margin: auto;
    padding: 120px 30px 0 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flowers .flower2 img{
    margin: auto;
    width: 400px;
    padding: 120px 30px 0 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 190px 30px 60px 30px;

}

.flowers .flower3 img{
    margin: auto;
    width: 400px;
    padding: 80px 30px 0 30px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.flowers .flower1 > p,
.flowers .flower2 > p,
.flowers .flower3 > p
{
    margin-top: 20px;
    color: #272727;
    text-decoration: underline;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;

}



/* Extra part */
/* Todays Special */

.day-special{
    margin-top: 70px;

    text-align: center;
}
.day-special p{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.special-flowers{
    display: flex;
    gap: 30px;
    
}
.special-flowers img{
    height: auto;
    width: 300px;
    border-radius: 50px;
    row-gap: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    

}
.blossom-2 img{
    margin-top: 70px;
    background-color: #E55473;
    padding: 20px;
    border: 3px dotted blueviolet;
    width: 400px;
    height: 500px;
}

/* features start */
.features{
    padding-top: 86px;
    padding-left: 130px;
    padding-right: 120px;
    text-align: center;
    height: 270px;
    margin: 125px 130px 0 130px;
    display: flex;
    background-color: #F4F4F4;

}
.features img{
    height: 88px;
    width: 88px;
    margin-bottom: 30px;
}

/* hot deal start */
.hot-deal{
    margin-top: 100px;
    background-color: #FEF6F8;
    display: flex;

}
.deal-description{
    padding: 170px 120px 120px 120px;
    
}
.deal-description h2{
   margin-right: 40px; 
    margin-bottom: 24px;
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.deal-description p{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 22px;
    width: 550px;
    height: 50px;
    text-align: center;
}
.sign-up{
        margin-left: 170px;
        margin-top: 28px;
        padding: 20px 33px;
        border-radius: 8px;
        background: #E55473;
        margin-bottom: 30px;
        color: #FCEEF1;
        font-size: 20px;
        font-weight: 400;
}

.deal-image{
    padding-top: 100px;
    padding-right: 200px;
}
.deal-image img{
    width: 318px;
    height: 420px;
}

/* instagram starts */
.instagram{
    margin-top: 70px;
    padding: 30px;
}
.instagram > h3{
    text-align: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 17px;
}
.instagram p{
    margin-top: 15px;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.insta-feed{
        display: flex;
        margin-top: 15px;
        gap: 20px;
    
}
.insta-feed img{
    height: auto;
    width: 300px;
}

/* latest deal */

.latest-deal{
    margin-top: 100px;
    text-align: center;
    padding-top: 150px;
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    width: 90%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.latest-deal > h3{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 14px;
    margin-bottom: 20px;
}

.latest-deal p{
    margin-bottom: 30px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.latest-deal input{
    width: 600px;
    height: 54px;
    border-radius: 8px;
    background: #FFF;
}
 .latest-deal button{
    height: 54px;
    width: 120px;
    border-radius: 8px;
    background: #E55473;
    margin-bottom: 30px;
    color: #FCEEF1;
    font-size: 14px;
    font-weight: 400;
 }

/* footer starts */
footer{
    background-color: #272727;
    margin-top: 80px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;

}
footer h2{
    margin-top: 20px;
    font-weight: 800px;
    color: #D9EFF1;
    font-size: 48px;
    font-weight: 800;
}
footer p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
footer h5{
    color: rgba(255, 255, 255, 0.40);
}


